@import url("https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.formpage {
  /* Intrucciones para el formulario*/
  /*Se organizan los div*/
}
.formpage body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
}
.formpage .header {
  color: cornflowerblue;
  padding: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Open sans";
}
.formpage .container-header {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-left: -80px;
  margin-top: -10px;
}
.formpage .App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px auto;
  background-color: #f0e8e6;
  width: 700px;
  border-radius: 20px;
}
.formpage h1 {
  margin-left: 20%;
  margin-top: 100px;
  font-weight: 600;
  font-size: 30px;
  font-style: inherit;
}
.formpage h2 {
  width: 82%;
  margin-left: 8.5%;
  color: black;
}
.formpage h3 {
  font-size: 23px;
  width: 100%;
  margin-left: 8.5%;
  color: black;
}
.formpage .form-groups {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  color: #bab7b6;
  font-size: 19px;
}
.formpage .form-groups input {
  margin-left: -280px;
}
.formpage .form-groups button {
  width: 140px;
  height: 30px;
  font-size: 20px;
  padding-left: 10px;
  border-radius: 5px;
  margin: 5px;
  background-color: #3573cb;
  color: #fff;
}
.formpage input[type=text] {
  margin: 15px 0;
  font-size: 20px;
  padding: 10px;
  width: 70%;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 8.5%;
}
.formpage input[type=number] {
  margin: 15px 0;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 70%;
  margin-left: 8.5%;
}
.formpage b {
  font-size: 19px;
  color: black;
  margin: 10px;
  font-weight: 300;
}
.formpage p {
  font-size: 23px;
  margin-top: 20px;
  width: 82%;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
.formpage input[type=radio] {
  margin-bottom: 15px;
  font-family: "Roboto";
  font-weight: 700;
  transform: scale(1.5);
}
.formpage input[type=checkbox] {
  margin-bottom: 15px;
  font-family: "Roboto";
  font-weight: 700;
  transform: scale(1.5);
}
.formpage button {
  width: 20%;
  height: 30px;
  margin-left: 40%;
  margin-bottom: 30px;
  background-color: transparent;
  border: 2px solid;
  font-size: 19px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: cornflowerblue;
  transition: 0.3 ease;
  background: white;
  border-radius: 10px;
}
.formpage button:hover {
  background: cornflowerblue;
  color: white;
}

.loginpage {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothin: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom right, cornflowerblue, #665969);
  background-size: cover;
  background-position: center;
}
.loginpage .Login {
  width: 400px;
  height: 400px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}
.loginpage .Login h1 {
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
}
.loginpage .Login .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 40px 0;
  padding: 1px;
}
.loginpage .input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
}
.loginpage .input-box input::-moz-placeholder {
  color: #fff;
  padding: 10px;
}
.loginpage .input-box input::placeholder {
  color: #fff;
  padding: 10px;
}
.loginpage .input-box .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}
.loginpage .Login button {
  width: 70%;
  margin-left: 15%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 700;
}/*# sourceMappingURL=App.css.map */