
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.formpage{  


  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
  }

  .header {
    color: cornflowerblue;
    padding: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Open sans";
  }

  .container-header {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-left: -80px;
    margin-top: -10px;
  }


  //Aplica toda la app
  .App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px auto;
    background-color: #f0e8e6;
    width: 700px;
    border-radius: 20px;
  }

  h1 {
    margin-left: 20%;
    margin-top: 100px;
    font-weight: 600;
    font-size: 30px;
    font-style: inherit;
  }

  h2 {
    width: 82%;
    margin-left: 8.5%;
    color: black;
  }

  h3 {
    font-size: 23px;
    width: 100%;
    margin-left: 8.5%;
    color: black;
  }

  /* Intrucciones para el formulario*/

  /*Se organizan los div*/
  .form-groups {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    color: #bab7b6;
    font-size: 19px;
  }

  .form-groups input {
    margin-left: -280px;
  }

  .form-groups button {
    width: 140px;
    height: 30px;
    font-size: 20px;
    padding-left: 10px;
    border-radius: 5px;
    margin: 5px;
    background-color: #3573cb;
    color: #fff;
  }

  input[type="text"] {
    margin: 15px 0;
    font-size: 20px;
    padding: 10px;
    width: 70%;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 8.5%;
  }

  input[type="number"] {
    margin: 15px 0;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 70%;
    margin-left: 8.5%;
  }

  b {
    font-size: 19px;
    color: black;
    margin: 10px;
    font-weight: 300;
  }

  p {
    font-size: 23px;
    margin-top: 20px;
    width: 82%;
    color: black;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
  }

  input[type="radio"] {
    margin-bottom: 15px;
    font-family: "Roboto";
    font-weight: 700;
    transform: scale(1.5);
  }

  input[type="checkbox"] {
    margin-bottom: 15px;
    font-family: "Roboto";
    font-weight: 700;
    transform: scale(1.5);
  }

  button {
    width: 20%;
    height: 30px;
    margin-left: 40%;
    margin-bottom: 30px;
    background-color: transparent;
    border: 2px solid;
    font-size: 19px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: cornflowerblue;
    transition: .3 ease;
    background: white;
    border-radius: 10px;
  }
  
  button:hover {
    background: cornflowerblue;
    color: white;
  }

  @media screen and (max-width: 480px) {
    .App {
      width: 100%;
      min-height: 100vh;
    }
  }
}


//Empieza la pagina de login
.loginpage{

    
    margin: -20px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothin: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right,cornflowerblue ,#665969);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    overflow: auto;
  

  .Login{
    width: 400px;
    height: 400px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
  }

  .Login h1{
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
  }

  .Login .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 40px 0;
    
  }


  .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    text-align: center; 
    

  }


  .input-box input::placeholder{
    color: #fff;
    padding: 10px;
  }

  .input-box .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
  }

  .Login button{
    width: 70%;
    margin-left: 15%;
    height: 45px;
    background: #fff;
    border: none;
    display:block;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    transition: all ease 0.5s;
  }

  .Login button:hover{
    background: #4e4444;
    color: cornflowerblue;
  }

  @media screen and (max-width: 480px) {
    .Login {
      width: 100%;
      min-height: 100vh;

    }
  }




  



















}


