
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.formpage{  


  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
  }

  .header {
    color: cornflowerblue;
    padding: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Open sans";
    flex-direction: column;
  }


  .container-header {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-left: -80px;
    margin-top: -10px;
  }

  .navbar {
    width: 100%;
    background-color: cornflowerblue ;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    
  }
  
  .navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
  }
  
  .navbar li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar li a:hover {
    color: black;
  }

  //Aplica toda la app
  .App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px auto;
    background-color: #f0e8e6;
    width: 700px;
    border-radius: 20px;
    
  }

  h1 {
    margin-left: 10%;
    margin-top: 100px;
    font-weight: 600;
    font-size: 30px;
    font-style: inherit;
    text-align: center;
  }

  h2 {
    width: 82%;
    margin-left: 8.5%;
    color: black;
  }

  h3 {
    font-size: 23px;
    width: 100%;
    margin-left: 8.5%;
    color: black;
  }




  /* Intrucciones para el formulario*/

  /*Se organizan los div*/
  .form-groups {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    color: #bab7b6;
    font-size: 19px;
  }

  .form-groups input {
    margin-left: -280px;
  }

  .form-groups button {
    width: 140px;
    height: 30px;
    font-size: 20px;
    padding-left: 10px;
    border-radius: 5px;
    margin: 5px;
    background-color: #3573cb;
    color: #fff;
  }

  input[type="text"] {
    margin: 15px 0;
    font-size: 20px;
    padding: 10px;
    width: 70%;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 8.5%;
  }

  input[type="number"] {
    margin: 15px 0;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 70%;
    margin-left: 8.5%;
  }

  b {
    font-size: 19px;
    color: black;
    margin: 10px;
    font-weight: 300;
  }


  p {
    font-size: 23px;
    margin-top: 20px;
    width: 82%;
    color: black;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
  }

  

  input[type="radio"] {
    margin-bottom: 15px;
    font-family: "Roboto";
    font-weight: 700;
    transform: scale(1.5);
  }

  input[type="checkbox"] {
    margin-bottom: 15px;
    font-family: "Roboto";
    font-weight: 700;
    transform: scale(1.5);
  }

  button {
    width: 200px;
    height: 35px;
    margin-left: 35%;
    margin-bottom: 10px;
    background: cornflowerblue;
    border: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    transition: all ease 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: #c9c6c6;
      color: rgb(0, 0, 0);
}
   /* width: 20%;
    height: 30px;
    margin-left: 40%;
    margin-bottom: 30px;
    background-color: transparent;
    border: 2px solid;
    font-size: 19px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: cornflowerblue;
    transition: all ease 0.7s;
    background: white;
    border-radius: 10px;*/
  }
  
  

  @media screen and (max-width: 480px) {
    .formpage {
      .App {
        padding: 15px;
      }
      .header h1 {
        font-size: 18px;
      }
  
      .form-groups {
        p {
          font-size: 14px;
        }
  
        label b {
          font-size: 12px;
        }
      }
  
      input[type="text"],
      input[type="number"] {
        font-size: 12px;
      }
  
      h2 {
        font-size: 14px;
      }
  
      button {
        font-size: 14px;
        padding: 8px 16px;
      }

    }
  } 
}


//Empieza la pagina de login
.loginpage{

    
    margin: -20px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothin: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right,cornflowerblue ,#665969);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    overflow: auto;
  

  .Login{
    width: 400px;
    height: 400px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
  }

  .Login h1{
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    
  }

  .Login .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 40px 0;
    
  }


  .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    text-align: center; 
    

  }


  .input-box input::placeholder{
    color: #fff;
    padding: 10px;
  }

  .input-box .icon{
    position: absolute;
    right: 15px;
    top: 55%;
    transform: translateY(-50%);
    font-size: 21px;
  }


  .Login button{
    width: 70%;
    margin-left: 15%;
    height: 45px;
    background: #fff;
    border: none;
    display:block;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    transition: all ease 0.5s;
  }

  .Login button:hover{
    background: #4e4444;
    color: cornflowerblue;
  }

  @media screen and (max-width: 480px) {
    .Login {
      width: 100%;
      min-height: 100vh;
    
      }
    }
}

.resultadosPage{

  margin: 20px;
  padding: 60px 0 0 0; // Añade padding-top para dar espacio al navbar
  min-height: 100vh; // Asegura que la página ocupe al menos toda la altura de la ventana
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;

  @media (max-width: 768px) {
    margin: 10px;
    padding-top: 80px; // Aumenta el padding-top para dispositivos móviles
  }

  .navbar {
    width: 100%;
    background-color: cornflowerblue;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    @media (max-width: 768px) {
      padding: 10px 0;
    }
  
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-around;
    
  
      li {
        margin: 0 15px;
  
        a {
          color: #ffffff;
          text-decoration: none;
          font-weight: 700;
          font-size: 16px;
          transition: all ease 0.3s;
  
          &:hover {
            color: black;
          }
        }
      }
    }
  }

  .resultados {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: cornflowerblue;
    border-radius: 10px;
    margin: 20px;
    width: 95%;
    max-width: 1200px; // Establece un ancho máximo
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

    @media (max-width: 768px) {
      width: 100%;
      margin: 10px auto;
    }
  }
    

    //Se maneja el div para centrar el input
    .input-container {
      display: flex;
      flex-direction: column; //Alinear el h1 por encima del input
      align-items: center;
      width: 97%;
      margin: 40px 0;
      padding: 20px;
      background-color: #f5f5f5; // Un color de fondo ligero para la "caja"
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1); // Sombra suave para efecto de elevación
      width: 100%;
      max-width: 600px; // Establece un ancho máximo
      margin: 20px auto;
      
      @media (max-width: 768px) {
        width: 95%;
      }

      
    }
    
    h1{
      margin-bottom: 20px; // Espacio entre el h1 y el input
      font-size: 2rem;
      
      @media (max-width: 768px) {
        font-size: 1.5rem;
      }
    }

    h2{
      padding: 10px;
      color: #fff;
    }


    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    //Se maneja el fondo donde estan los div
    .mensajeResultados{
      background-color: rgba(107, 100, 100, 0.2);
      
      margin-top: 50px;
      border-radius: 20px;
      text-align: center;
      font-size: 20px;
      border: 1px  black;
      background: transparent;
      max-width: 100%;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
      
      
      @media (max-width: 768px) {
        padding: 10px;
        margin-top: 30px;
        font-size: 16px;
      }
    }

    .rdt_Table {
      background-color: white;
      overflow: hidden;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);

      @media (max-width: 768px) {
        font-size: 12px; // Reduce el tamaño de la fuente en móviles
      }
    }

    .rdt_TableHead {
      background-color: #f0f0f0;
    }

    .rdt_TableHeadRow {
      font-weight: bold;
    }

    .rdt_TableBody {
      .rdt_TableRow {
        &:hover {
          background-color: #f5f5f5;
        }
      }
    }

    .rdt_TableCol, .rdt_TableCell {
      padding: 15px 10px;
      font-size: 14px;
      white-space: normal;
      word-wrap: break-word;

      @media (max-width: 768px) {
        padding: 10px 5px;
        font-size: 12px;
      }
    }

    // Para manejar el desbordamiento de texto
    .rdt_TableCell {
      max-width: 200px; 
      overflow: hidden;
      text-overflow: ellipsis;

      @media (max-width: 768px) {
        max-width: 100px; // Reduce el ancho máximo en móviles
      }
    }

    // Estilos para la paginación
    .rdt_Pagination {
      font-size: 14px;
      color: #333;
    }
  

    .resultados input{
      width: 80%;
      max-width: 400px; // Para evitar que sea demasiado ancho en pantallas grandes
      background: rgb(221, 212, 212);
      border: 2px solid rgba(255, 255, 255, .2);
      border-radius: 40px;
      font-size: 16px;
      color: black;
      text-align: center; 
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      margin: 40px 0;

      @media (max-width: 768px) {
        width: 90%;
      }

    }

    .resultados input::placeholder{
      color: #000000;
      padding: 10px;
    }

    

    .input-container button{
      width: 200px;
      height: 35px;
      background: cornflowerblue;
      border: none;
      border-radius: 40px;
      box-shadow: 0 0 10px rgba(0, 0, 0, .1);
      cursor: pointer;
      font-size: 16px;
      color: #ffffff;
      font-weight: 700;
      transition: all ease 0.5s;
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: 768px) {
        width: 80%;
        max-width: 200px;
      }

      &:hover {
        background: #c9c6c6;
        color: rgb(0, 0, 0);
  }
    }
  
    .error-message {
      color: red;
      text-align: center;
      margin-top: 10px;
    }

    .no-results {
      text-align: center;
      margin-top: 20px;
    }

    .resultado-item {
      margin-bottom: 20px;
      padding: 10px;
      border-radius: 5px;

      @media (max-width: 768px) {
        padding: 5px;
      }
    }

    .mensajeResultados button {
      width: 100px;
      height: 35px;
      background: cornflowerblue;
      border: none;
      border-radius: 40px;
      box-shadow: 0 0 10px rgba(0, 0, 0, .1);
      cursor: pointer;
      font-size: 16px;
      color: #ffffff;
      font-weight: 700;
      transition: all ease 0.5s;
      margin-top: 30px;
      &:hover {
        background: #c9c6c6;
        color: rgb(0, 0, 0);
    }
      
    }
  }





























